    {% extends "layout.html" %}
   
    {% block content %}
    <h1>{{title}}</h1>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3></h3>
            <form name="login" action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=35) }}
                    {% for error in form.email.errors %}
                    <span class="error-message">{{ error }} </span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label}}<br>
                    {{ form.password(size=15) }}
                    {% for error in form.password.errors %}
                    <span class="error-message">{{ error }} </span>
                    {% endfor %}
                </p>

                <p>
                    {{ form.submit(size=15) }}
                </p>

            </form>
        </div>
    </div>
 {% endblock %}